<div id="invoice">

    <div class="invoice overflow-auto">
        <div style="min-width: 600px">
            <header>
                <div class="row">
                    <div class="col">
                        <a target="_blank" href="https://lobianijs.com">
                            <img src="../../../../assets/images/ur_logo.PNG" data-holder-rendered="true" />
                            </a>
                    </div>
                    <div class="col company-details">
                        <h2 class="name">
                            <a target="_blank" href="https://lobianijs.com">
                            Universal Restaurant
                            </a>
                        </h2>
                        <div>Direccion Popayan, Cauca</div>
                        <div>(+57) 01800-universalrestaurant</div>
                        <div>universalrestaurant@example.com</div>
                    </div>
                </div>
            </header>
            <main>
                <div class="row contacts">
                    <div class="col invoice-to">
                        <div class="text-gray-light">Facturado a:</div>
                        <h2 class="to">Nombre</h2>
                        <div class="address">Direccion</div>
                        <div class="email"><a href="mailto:john@example.com">correo</a></div>
                    </div>
                    <div class="col invoice-details">
                        <h1 class="invoice-id">FACTURA # 3-2-1</h1>
                        <div class="date">Fecha Factura: 01/10/2018</div>
                        <div class="date">Fecha de Vencimiento: 31/12/2022</div>
                    </div>
                </div>
                <table cellspacing="0" cellpadding="0">
                    <thead>
                        <tr>
                            <th class="text-left">CODIGO</th>
                            <th class="text-left">NOMBRE</th>
                            <th class="text-right">CANTIDAD</th>                            
                            <th class="text-right">TOTAL</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let items of itemsShopCart">
                            <td class="no" *ngIf="items!=null">{{items.product.id}}</td>
                            <td class="text-left" *ngIf="items!=null">
                                <h3>{{items.product.name}}</h3>                                                               
                            </td>
                            <td class="unit" *ngIf="items!=null">{{items.quantity | number}}</td>
                            <td class="total" *ngIf="items!=null">{{items.unit_price | number}}</td>                            
                        </tr>                        
                    </tbody>
                    <tfoot>                        
                        <tr>
                            <td colspan="2"></td>
                            <td colspan="2">IVA 19%</td>
                            <!--<td>{{shopCart.total}}*0.19</td>-->
                        </tr>
                        <tr>
                            <td colspan="2"></td>
                            <td colspan="2">TOTAL</td>
                            <!--<td>{{shopCart.total}}</td>-->
                        </tr>
                    </tfoot>
                </table>
                <div class="thanks">Gracias por tu compra!</div>                
            </main>
            <footer>
                Invoice was created on a computer and is valid without the signature and seal.
            </footer>
        </div>
        <!--DO NOT DELETE THIS div. IT is responsible for showing footer always at the bottom-->
        <div></div>
    </div>
</div>

