<div class="container-fluid">
    <div class="">
        <div class="card border border-primary">
            <div class="card-header text-white bg-primary">
                <h4>Registrar producto</h4>
            </div>
            <form id="saucer-form" [formGroup]="myForm" (ngSubmit)="saveNewProduct()" class="card-body" >                

                <div class="form-group required">
                    <label for="" class="col-form-label">Nombre: </label>
                    <input type="text" name="name" [(ngModel)]="product.name"  formControlName="name" placeholder="Nombre del producto" class="form-control">
                </div>
                <div *ngIf="myForm.controls['name'].errors && (myForm.controls['name'].dirty || myForm.controls['name'].touched)" class="alert alert-danger">
                    <p >Field name is required</p>
                </div>
                <div class="form-group required">
                    <label for="" class="col-form-label">Descripción: </label>
                    <input type="text" name="description" [(ngModel)]="product.description"  formControlName="description" placeholder="Descripción del producto" class="form-control">
                </div>
                <div *ngIf="myForm.controls['description'].errors && (myForm.controls['description'].dirty || myForm.controls['description'].touched)" class="alert alert-danger">
                    <p >Field description is required</p>
                </div>
                <div class="form-group required">
                    <label for="" class="col-form-label">Cost: </label>
                    <input type="text" name="cost" [(ngModel)]="product.cost"  formControlName="cost" placeholder="Costo del producto" class="form-control">
                </div>
                <div *ngIf="myForm.controls['cost'].errors && (myForm.controls['cost'].dirty || myForm.controls['cost'].touched)" class="alert alert-danger">
                    <p >Field description is required</p>
                </div>
                <div class="form-group required">
                    <label for="" class="col-form-label">Stock: </label>
                    <input type="text" name="stock" [(ngModel)]="product.cost"  formControlName="stock" placeholder="Stock del producto" class="form-control">
                </div>
                <div *ngIf="myForm.controls['stock'].errors && (myForm.controls['stock'].dirty || myForm.controls['stock'].touched)" class="alert alert-danger">
                    <p >Field description is required</p>
                </div>
                <div class="form-group required">
                    <label for="" class="col-form-label">Id restaurante: </label>
                    <input type="text" name="restaurant_id" [(ngModel)]="product.restaurant_id" formControlName="restaurant_id" placeholder="Id del restaurante" class="form-control">
                </div>                
                <div *ngIf="myForm.controls['restaurant_id'].errors && (myForm.controls['restaurant_id'].dirty || myForm.controls['restaurant_id'].touched)" class="alert alert-danger">
                    <p >Field address is required</p>
                </div>
                <div class="form-group required">
                    <label for="" class="col-form-label">Id categoria: </label>
                    <input type="text" name="categories_product_id" [(ngModel)]="product.categories_product_id" formControlName="categories_product_id" placeholder="Id de la categoria" class="form-control">
                </div>
                <div *ngIf="myForm.controls['categories_product_id'].errors && (myForm.controls['categories_product_id'].dirty || myForm.controls['categories_product_id'].touched)" class="alert alert-danger">
                    <p >Field phone is required</p>
                </div>                
                <div class="form-group required">
                    <label for="" class="col-form-label">Link imagen: </label>
                    <input type="text" id="imgProd" name="image" [(ngModel)]="product.image" formControlName="image" class="form-control">
                </div>
                <div *ngIf="myForm.controls['image'].errors && (myForm.controls['image'].dirty || myForm.controls['image'].touched)" class="alert alert-danger">
                    <p >Field image is required</p>
                </div>                                      
                <button class="btn btn-primary btn-block" type="submit"  >
                    Guardar
                </button >
            </form>            
        </div>
    </div>
</div>
