<div class="container-fluit">
    <div class="card border border-primary">
        <div class="card-header text-white bg-primary">
                <h3>Vista principal de chef </h3>
        </div>
        <div class="card-body">
            <div class="">
                <img src="https://i.pinimg.com/originals/16/da/69/16da69e98b6594f1c4f8290f91617578.jpg" alt="Chef">
            </div>
            <div>
                <p>Aqui podra realizar el registro de los diferentes platos y productos que se ofertaran en el restaurante,
                    así como organizar el semanario.
                </p>
            </div>

        </div>
    </div>    
</div>