<div class="container-fluid">
    <div class="card  border border-primary">
        <div class="card-header text-white bg-primary">
            <h3> Restaurantes Afiliados </h3>
        </div>
        <div class="card-body">
            <div class="row">    
                <div class="col-12">       
                    <!-- column -->
                    <div class="row">
                        <div class="col-lg-3 col-md-6" *ngFor="let restaurant of restaurants">
                            <!-- Card -->
                            <div class="card  border border-primary">                    
                                <img class="card-img-top img-responsive" [src]="restaurant.image" alt="Card image cap">
                                <div class="card-body">
                                    <h4 class="card-title">{{restaurant.name}}</h4>
                                    <div class="card-text">
                                        <h5>{{restaurant.description}}, {{restaurant.direction}}</h5>
                                        <p>Tel: {{restaurant.phone}}</p>                    
                                    </div>
                                    <!--<button class="btn btn-primary" (click)="listBuy(restaurant.id)" role="button">Ingresar</button>-->
                                    <a [routerLink]="['/component/user/list-buy', restaurant.id]" class="btn btn-primary btn-block">Ingresar</a>
                                </div>
                            </div>
                            <!-- Card -->
                        </div>
                        <!-- column -->
            
                        <!-- column -->
                        <div class="col-lg-3 col-md-6 img-responsive">
                            <!-- Card -->
                            <div class="card">
                                <img class="card-img-top img-responsive" src="assets/images/big/img4.jpg" alt="Card image cap">
                                <div class="card-body">
                                    <h4 class="card-title">Card title</h4>
                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                    <a href="#" class="btn btn-primary">Go somewhere</a>
                                </div>
                            </div>
                            <!-- Card -->
                        </div>
                        <!-- column -->        
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

