<div class="container">
    <div class="semanario-titulo">
        <h2>Platos de la semana</h2>
    </div>
    
    <div class="servicios">
        <div>
            <img src="../../../../assets/images/1.PNG">
            <h3>LUNES</h3>
            <ul>           
                
                <li><b>Contenido: </b>{{saucers[0].description}}</li>
                <li><b>Precio: </b>{{saucers[0].cost}}</li>                
            </ul>           
            <a [routerLink]="['/restaurant/list-buy/', idRestaurant]">COMPRAR! <i class="fas fa-angle-double-right"></i></a>
        </div>
        <div>
            <img src="../../../../assets/images/2.PNG">
            <h3>MARTES</h3>
            <ul>           
                <!--<li><b>Plato: </b> {{saucers[1].name}}</li>-->
                <li><b>Contenido: </b>{{saucers[1].description}}</li>
                <li><b>Precio: </b>{{saucers[1].cost}}</li>  
            </ul>            
            <a [routerLink]="['/restaurant/list-buy/', idRestaurant]">COMPRAR! <i class="fas fa-angle-double-right"></i></a>
        </div>
        <div>
            <img src="../../../../assets/images/3.PNG">
            <h3>MIERCOLES</h3>
            <ul>           
                
                <li><b>Contenido: </b>{{saucers[2].description}}</li>
                <li><b>Precio: </b>{{saucers[2].cost}}</li> 
            </ul>            
            <a [routerLink]="['/restaurant/list-buy/', idRestaurant]">COMPRAR! <i class="fas fa-angle-double-right"></i></a>
        </div>
        <div>
            <img src="../../../../assets/images/4.PNG">
            <h3>JUEVES</h3>
            <ul>           
                
                <li><b>Contenido: </b>{{saucers[3].description}}</li>
                <li><b>Precio: </b>{{saucers[3].cost}}</li> 
            </ul>            
            <a [routerLink]="['/restaurant/list-buy/', idRestaurant]">COMPRAR! <i class="fas fa-angle-double-right"></i></a>
        </div>
        <div>
            <img src="../../../../assets/images/5.PNG">
            <h3>VIERNES</h3>
            <ul>           
                
                <li><b>Contenido: </b>{{saucers[4].description}}</li>
                <li><b>Precio: </b>{{saucers[4].cost}}</li> 
            </ul>            
            <a [routerLink]="['/restaurant/list-buy/', idRestaurant]">COMPRAR! <i class="fas fa-angle-double-right"></i></a>
        </div>
    </div>
</div>