<div class="container p-2">
    <div class="row">
        <h1 class="title font-weight"> Restaurantes Afiliados </h1>        
    </div>    
</div>
<div class="row">    
    <div class="col-12">       
        <!-- column -->
        <div class="row">
            <div class="col-lg-3 col-md-6" *ngFor="let restaurant of restaurants">
                <!-- Card -->
                <div class="card">                    
                    <img class="card-img-top img-responsive" [src]="restaurant.image" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title">{{restaurant.name}}</h4>
                        <div class="card-text">
                            <h5>{{restaurant.description}}, {{restaurant.direction}}</h5>
                            <p>Tel: {{restaurant.phone}}</p>                    
                        </div>
                        <div>                                
                            <button class="btn btn-danger btn-primary-spacing" (click)="deleteRestaurant(restaurant.id)" role="button">Eliminar</button>
                            <button class="btn btn-success btn-primary-spacing" [routerLink]="['/component/admin/restaurant-update', restaurant.id]" role="button">Editar</button>
                            <button class="btn btn-primary btn-primary-spacing" (click)="deleteRestaurant(restaurant.id)" role="button">Ingresar</button>
                            <!--<a class="btn btn-primary btn-primary-spacing" [routerLink]="['/restaurant/list-buy/', restaurant.id]" role="button">Ingresar</a>-->
                        </div>
                    </div>
                </div>
                <!-- Card -->
            </div>
            <!-- column -->
        </div>
    </div>
</div>
